<% if @entries.empty? %>
  <h2>No Entries yet</h2>
<% else %>
  <ul>
    <% @entries.each do |entry| %>
      <li>
        <%= link_to entry.title, entry_path(entry) %>
      </li>
    <% end %>
  </ul>
<% end %>
