<div class="search-bar">
  <%= form_with url: users_path(params[:query]), method: :get, local: true, html: { autocomplete: "off" }, class: "search-form" do |f| %>
    <i class="fa-solid fa-magnifying-glass" style="color: #b8b8b8;"></i>
    <%= f.text_field :query, placeholder: "Search for a new friend", value: params[:query], class: "search-field" %>
    <%= f.submit "Search", class: "hidden-button" %>
  <% end %>
</div>
