<%= render "shared/searchbar" %>

<h2>My Friends:</h2>
<ul>
  <% @accepted.each do |friend| %>
    <li><%= link_to "#{friend.forename} #{friend.surname}", friendship_path(friend) %></li>
  <% end %>
</ul>

<h2>Pending:</h2>
<ul>
  <% @pending.each do |friend| %>
    <li><%= friend.forename %> <%= friend.surname %> - Accept | Reject</li>
  <% end %>
</ul>
