<h1>My Diaries:</h1>
<ul>
  <% @diaries.each do |diary| %>
    <li><%= diary.title %> - <%= link_to "View Diary", diary_entries_path(diary) %></li>
  <% end %>
</ul>

<button><%= link_to "New Diary", new_diary_path %></button>
