.navbar-lewagon {
  justify-content: space-between;
  background: #5C4033;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #F5F5DC;
}
